* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

/*Top!*/

.top-container {
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}

.top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 77px;
    background: lightslategray;
    color: white;
}

.top>h1 {
    text-align: center;
    margin-top: 1.5%;
}

.top>p {
    position: relative;
    bottom: 15%;
    left: 1.5%;
}

.color-box {
    width: 8px;
    height: 8px;
    border: 1px solid rgba(0, 0, 0, .2);
    background: black;
}

/*Middle*/

.middle-container {
    position: absolute;
    top: 80px;
    bottom: 40px;
    left: 0px;
    right: 0px;
    background: black;
}

.middle-clients {
    position: fixed;
    top: 80px;
    bottom: 40px;
    left: 75%;
    right: 0px;
    overflow-y: auto;
    background: lightcoral;
    float: left;
    color: white;
    font: bold;
    padding-top: 0.2%;
}

.middle-clients h3 {
    text-align: center;
}

.online-clients {
    list-style-type: none;
}

.online-clients li {
    padding: 5px 20px;
}

.middle-chat {
    position: fixed;
    top: 80px;
    bottom: 40px;
    left: 0px;
    right: 25.2%;
    overflow-y: auto;
    background: lightgray;
    float: left;
}

.messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.messages li {
    padding: 5px 20px;
}

/*Bottom!*/

.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 40px;
    background: black;
}

form {
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .3%;
    float: left;
}

form button {
    width: 9.5%;
    padding: 10px;
    float: left;
    background: yellowgreen;
    border: none;
}