body {
    background: lightslategray;
}

h1 {
    text-align: center;
    color: white;
    margin-top: 30px;
}

.submit {
    position: absolute;
    top: 35%;
    left: 0px;
    right: 0px;
}

.submit-form {
    display: flex;
    justify-content: center;
}

.submit-field {
    margin: 45px 5px;
    width: 200px;
    float: left;
    padding: 12px;
}

.submit-btn {
    margin: 45px 5px;
    background: lightgreen;
    clear: both;
}

.submit-info {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}